<div class="d-flex justify-content-center">
  <div class="row">
    <h1>Seja bem vindo!</h1>
  </div>
</div>

<h4 class="text-danger">Produtos</h4>

<div class="card" style="width: 18rem;">
  <img class="card-img-top" [src]="fotoProduto1" alt="">
  <div class="card-body">
    <h5 class="card-title">{{nomeProduto}}</h5>
    <p class="card-text">Identificação: {{idProduto}}</p>
    <span *ngIf="promocao; else elseBlock" class="badge badge-success">Promoção</span>
    <ng-template #elseBlock>
      <span class="badge badge-primary">Aproveite</span>
    </ng-template>
    <a href="#" class="btn btn-primary float-right">Comprar</a>
  </div>
</div>
