<div class="d-flex justify-content-center">
  <div class="row">
    <h1>Seja bem vindo!</h1>
  </div>
</div>


<div class="row">
  <div class="col">
    <figure class="figure">
      <img src="assets/angular.png" class="figure-img img-fluid rounded" alt="...">
      <figcaption class="figure-caption">Angular</figcaption>
    </figure>
  </div>

  <div class="col">
    <figure class="figure">
      <img src="assets/crud.png" class="figure-img img-fluid rounded" alt="...">
      <figcaption class="figure-caption">Crud</figcaption>
    </figure>
  </div>
</div>
